<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notifications to <%= @user.email %></h1>
    <p>
      Your order status has changed, the order id is <%= @order.id %>
    </p>
  </body>
</html>

